@model System.Data.DataTable
@using System.Data

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <form id="FORM_SEARCH" method="get">

                            <div class="row">
                                <div class="col-md-2">
                                    <label for="USER" class="text-bold">Filter by User</label>
                                    <br />
                                    <select class="form-control" id="USER" name="USER">
                                        <option value=""></option>
                                        @foreach (DataRow row in ViewBag.Usuarios.Rows)
                                        {
                                            <option value="@row["VALUE"]">@row["TEXT"]</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label for="ENTITY" class="text-bold">Entity</label>
                                    <br />
                                    <select class="form-control" id="ENTITY" name="ENTITY">
                                        <option value=""></option>
                                        @foreach (DataRow row in ViewBag.Entity.Rows)
                                        {
                                            <option value="@row["VALUE"]">@row["TEXT"]</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label for="MODULE" class="text-bold">Module</label>
                                    <br />
                                    <select class="form-control" id="MODULE" name="MODULE">
                                        <option value=""></option>
                                        @foreach (DataRow row in ViewBag.Modulos.Rows)
                                        {
                                            <option value="@row["VALUE"]">@row["TEXT"]</option>
                                        }
                                    </select>
                                </div>


                                <div class="col-md-2">
                                    <label for="DATE1" class="text-bold">Start Date</label>
                                    <br />
                                    <input type="text" class="form-control pickadate" id="DATE1" name="DATE1" value="@Request.Params["DATE1"]" />
                                </div>

                                <div class="col-md-2">
                                    <label for="DATE2" class="text-bold">End Date</label>
                                    <br />

                                    <div class="input-group">
                                        <input type="text" class="form-control pickadate" id="DATE2" name="DATE2" value="@Request.Params["DATE2"]" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit"><i class="icon-search4"></i></button>
                                            @if (Model.Rows.Count > 0)
                                            {
                                                <button class="btn btn-success" type="button" onclick="EXPORT()"><i class="icon-file-excel"></i></button>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="TblRegs" class="table table-bordered table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        @foreach (DataColumn column in Model.Columns)
                                        {
                                            <th>@column.ColumnName</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1; }
                                    @foreach (DataRow row in Model.Rows)
                                    {
                                        <tr>
                                            @foreach (DataColumn rCol in Model.Columns)
                                            {
                                                <td>@row[rCol.ColumnName]</td>
                                            }
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function EXPORT() {

        $.ajax({

            type: 'POST',

            url: '/DIRECTAX/EXPORT_IMPORT_HISTORY',

            data: $("#FORM_SEARCH").serialize(),

            success: function (r) {

                window.open(r);

            }, error: function (result) {
                Mensajes(result.statusText, 'error', '');
            }
        });

    }

    $(document).ready(function () {

        $("#USER").val('@HttpUtility.UrlDecode(Request.Params["USER"])');
        $("#MODULE").val('@Request.Params["MODULE"]');
        $("#ENTITY").val('@Request.Params["ENTITY"]');

    });

</script>