@model IEnumerable<PANGEA.IMPORTSUITE.DataModel.T_TEMPLATE>

<script>

    function TEMPLATE_CONFIG(ROWID) {
        window.location.href = '/MASTER/TEMPLATE_02_CONFIG?ROWID_TEMPLATE=' + ROWID;
    }

</script>

<div class="panel panel-white">
    <div class="panel-heading">
        <h5 class="panel-title">Template configurati&oacute;n</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="reload"></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
    </div>
    <div class="panel-body">
        <div class="row">
            @if (Model.ToList().Count > 0)
            {
                <div class="col-sm-12">
                    <div class="card-box table-responsive">

                        <font color=brown>Please check / uncheck the granted column to activate / inactivate user.</font><br><br>

                        <table id="TblTemplate" class="table table-striped table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Header First Row</th>
                                    <th>Validations</th>
                                    <th>Pangea Template</th>
                                    <th>Folder</th>
                                    <th>Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1; }
                                @foreach (var row in Model.ToList())
                                {
                                    <tr>
                                        <td>
                                            <a href="javascript:TEMPLATE_CONFIG(@row.ROWID);">
                                                <i class="icon-pencil6" style="color:black;"></i>
                                            </a>
                                        </td>
                                        <td class="text-bold">@row.NAME</td>
                                        <td>
                                            @if (row.HEADER_FIRSTROW == true)
                                            {
                                                <i class="icon-checkmark" style="color:green;font-size:18px"></i>
                                            }
                                            else
                                            {
                                                <i class="icon-x" style="color:red;font-size:18px"></i>
                                            }
                                        </td>
                                        <td>@row.VALIDATIONS</td>
                                        <td>
                                            @if (row.PANGEA_TEMPLATE == true)
                                            {
                                                <i class="icon-checkmark" style="color:green;font-size:18px"></i>
                                            }
                                            else
                                            {
                                                <i class="icon-x" style="color:red;font-size:18px"></i>
                                            }
                                        </td>
                                        <td>@row.FOLDER</td>
                                        <td>
                                            <input type="checkbox" class="styled" disabled="disabled" data-rowid="@row.ROWID" @if (row.ACTIVE == true) { <text> checked="checked" </text>              } />
                                        </td>
                                    </tr>

                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-12 text-danger">
                    No record found.
                </div>
            }
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {


        $('input[type="checkbox"]').change(function () {

            var chk = $(this);

            ModalProcesandoShow();

            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/PROFILE/SYS_TEMPLATE_ACTIVE',
                data: {
                    ROWID: $(chk).data('rowid')
                },
                success: function (data) {

                    ModalProcesandoHiden();
                    Mensajes('TEMPLATE CHANGE SUCCESS.', 'success', '');

                },
                error: function (request) {

                    if ($(chk).prop("checked") == true)
                        $(chk).prop("checked", false);
                    else
                        $(chk).prop("checked", true);

                    ModalProcesandoHiden();
                    Mensajes(request.statusText, 'error', '');
                }
            });

        });

        $('#TblTemplate').DataTable({
            "processing": true,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            //"ordering": true,
            "order": [],
            "info": true,
            "autoWidth": true,
            "bDestroy": true,
            aLengthMenu: [
                [10, 50, 100, 150, 250, 350, -1],
                [10, 50, 100, 150, 250, 350, "All"]
            ],
            "iDisplayLength": -1
        });


    });

</script>

