@model IEnumerable<PANGEA.IMPORTSUITE.DataModel.T_TEMPLATE>


<div class="panel panel-white">
    <div class="panel-heading">
        <h5 class="panel-title">Template Configuration</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="reload"></a></li>
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
    </div>
    <div class="panel-body">
        <div class="row">
            @if (Model.ToList().Count > 0)
            {
                <div class="col-sm-12">
                    <div class="card-box table-responsive">

                        @*<font color=brown>Please check / uncheck the granted column to activate / inactivate template.</font><br><br>*@

                        <table id="TblTemplate" class="table table-striped table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Active</th>
                                    <th>Journal Name</th>
                                    <th>Automatic Posting?</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1; }
                                @foreach (var row in Model.ToList())
                                {
                                    <tr>
                                        <td class="text-center">
                                            @i
                                        </td>

                                        <td class="text-bold">@row.DESCRIPTION</td>

                                       <td>
                                            <input type="checkbox" class="styled" disabled="disabled" data-autopost="@row.ROWID" @if (row.ACTIVE == true) { <text> checked="checked" </text>                  } />
                                        </td> 

                                        <td class="text-center">

                                            <input type="text" class="JOURNALNAME" value="@row.JOURNALNAME" data-rowid="@row.ROWID" 
                                                   @if (!row.CUSTOM_VALIDATIONS.Contains("JOURNAL")) {
                                                       <text>disabled=disabled</text>
                                                       }/>
                                        </td>

                                        <td>
                                            @if (row.CUSTOM_VALIDATIONS.Contains("AUTOPOST"))
                                            {
                                                <input type="checkbox" class="styled"  data-rowid="@row.ROWID" @if (row.AUTOPOST == true)
                                                { <text> checked="checked" </text> } />
                                            }
                                        </td> 

                                    </tr>

                                    i++;
                                                   }
                            </tbody>
                        </table>
                    </div>
                </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-12 text-danger">
                                            No record found.
                                        </div>
                                    }
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {


        $('.JOURNALNAME').on('blur', function () {

            ModalProcesandoShow();

            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/MASTER/SYS_TEMPLATE_JOURNALNAME',
                data: {
                    ROWID: $(this).data('rowid'),
                    JOURNALNAME: $(this).val()
                },
                success: function (data) {

                    ModalProcesandoHiden();
                    Mensajes('TEMPLATE CHANGE SUCCESS.', 'success', '');

                },
                error: function (request) {
                    ModalProcesandoHiden();
                    Mensajes(request.statusText, 'error', '');
                }
            });
        });



        $('input[type="checkbox"]').change(function () {

            var chk = $(this);

            ModalProcesandoShow();

            $.ajax({
                dataType: "json",
                type: 'post',
                url: '/MASTER/SYS_TEMPLATE_ACTIVE',
                data: {
                    ROWID: $(chk).data('rowid')
                },
                success: function (data) {

                    ModalProcesandoHiden();
                    Mensajes('TEMPLATE CHANGE SUCCESS.', 'success', '');

                },
                error: function (request) {

                    if ($(chk).prop("checked") == true)
                        $(chk).prop("checked", false);
                    else
                        $(chk).prop("checked", true);

                    ModalProcesandoHiden();
                    Mensajes(request.statusText, 'error', '');
                }
            });

        });

        $('#TblTemplate').DataTable({
            "processing": true,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            //"ordering": true,
            "order": [],
            "info": true,
            "autoWidth": true,
            "bDestroy": true,
            aLengthMenu: [
                [10, 50, 100, 150, 250, 350, -1],
                [10, 50, 100, 150, 250, 350, "All"]
            ],
            "iDisplayLength": -1
        });


    });

</script>

